/* Global Styles */

/* ---------------------------------ANIMATION CSS-------------------------------------------*/

.fade-up {
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(80px); /* Start the element 20px below its original position */
  animation: fadeInUpAnimation 1s forwards; /* Animation properties */
  animation-duration: 1s;
}

.fade-down {
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(-80px); /* Start the element 20px below its original position */
  animation: fadeInUpAnimation 1s forwards; /* Animation properties */
  animation-duration: 1s;
}

@keyframes fadeInUpAnimation {
  to {
    opacity: 1; /* Animate opacity to 1 (fully visible) */
    transform: translateY(0); /* Animate to its original position (0) */
  }
}


/* Applying the animation */
.fade-left {
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateX(100%); /* Start the element outside the viewport */
  animation: slideInAnimation 1s forwards; /* Animation properties */
  animation-duration: 2s;
}

.fade-right {
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateX(-100%); /* Start the element outside the viewport */
  animation: slideInAnimation 1s forwards; /* Animation properties */
  animation-duration: 2s;
}

@keyframes slideInAnimation {
  to {
    opacity: 1; /* Animate opacity to 1 (fully visible) */
    transform: translateX(0); /* Animate to initial position (0) */
  }
}

.slideOut {
  opacity: 1; /* Set initial opacity to 1 */
  transform: translateX(0); /* Start the element at its initial position (0) */
  animation: slideOutAnimation 1s forwards; /* Animation properties */
}

@keyframes slideOutAnimation {
  to {
    opacity: 0; /* Animate opacity to 0 (fully transparent) */
    transform: translateX(
      100%
    ); /* Animate to position outside the viewport (100%) */
  }
}

/* ---------------------------------ANIMATION CSS-------------------------------------------*/


* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
